:root {
  --custom-font-family: sans-serif;
  font-family: var(--custom-font-family);
  --egeria-primary-color-rgb: 113, 204, 220;
  --egeria-primary-color: rgb(var(--egeria-primary-color-rgb));
  --egeria-home-header-background: url('./static/header-background-repeat.svg') repeat top center;
  --app-background-color: #eeeeee;
}

body {
  margin: 0;
  font-family: var(--custom-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 24px;;
}

.br5 { border-radius:5px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.p15 { padding:15px; }
.row { display: flex; align-items: center; justify-content: center; }
.flex { display: flex; }
.space-between { justify-content: space-between; }
.m5 { margin: 5px; }