:root {
  --custom-font-family: sans-serif;
  font-family: var(--custom-font-family);
  --egeria-primary-color-rgb: 113, 204, 220;
  --egeria-primary-color: rgb(var(--egeria-primary-color-rgb));
  // --egeria-home-header-background: url('./static/header-background-repeat.svg') repeat top center;
  --app-background-color: #eeeeee;
  --a-color:rgb(124, 211, 220);
  --md-primary-fg-color: #fff; //#228be6;
  --goreleaser-primary-color: rgb(var(--egeria-primary-color-rgb));
}

html {
  height:100%;
  padding:0;
  margin:0;
}

#root {
  height:100%;
}

body {
  font-family: var(--custom-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 24px;

  height:100%;
  padding:0;
  margin:0;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: white' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), var(--goreleaser-primary-color) 99%, #fff 99%);
}

.flex-1 { flex: 1; }
.flex-fh { display: flex; align-items: stretch; }
.flex { display: flex; }
.flex-column { display: flex; flex-flow: column; height: 100%; }
.row { display: flex; align-items: center; justify-content: center; }
.space-between { justify-content: space-between; }
.full-height { height: 100% }


.br5 { border-radius:5px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.p15 { padding:15px; }
.m5 { margin: 5px; }


.egeria-wrapper {
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.egeria-wrapper > .header {
  width:100%;
}

.egeria-wrapper > nav {
  height:100%;
}

.egeria-logo img {
  height:150px;
  display:block;
  margin:auto;
}

.happi-graph-fullscreen {
  z-index:101 !important;
}