
.qualified-name {
  display: flex;
  flex-flow: column;

  img {
    height:20px;
    vertical-align:middle;
    margin-right:5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding-right: 10px;
    font-size: smaller ;
  }

  .masked {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: var(--egeria-primary-color);
  }

  .label {
    display: inline-flex;
    vertical-align: super;
  }
}
