:root {
  --custom-font-family: sans-serif;

  font-family: var(--custom-font-family);
  --lumo-font-family: var(--custom-font-family);
  --paper-font-subhead_-_font-family: var(--custom-font-family);
  --paper-font-common-base_-_font-family: var(--custom-font-family);
  --paper-font-body1_-_font-family: var(--custom-font-family);
  --paper-font-subhead_-_font-family: var(--custom-font-family);
  --paper-font-common-code_-_font-family: var(--custom-font-family);

  --login-background: url(images/default-login-background.svg) no-repeat right bottom;

  --egeria-primary-color-rgb: 113, 204, 220;
  --egeria-primary-color: rgb(var(--egeria-primary-color-rgb));

  --egeria-secondary-color: #24272a;
  --egeria-background-color: white;
  --egeria-stripes-color: #efefef;
  --egeria-icon-color: var(--egeria-primary-color);
  --egeria-button-ink-color: white;

  --egeria-view-margin: 0 24px;
  --egeria-view-min-height: calc(100vh - 110px);

  --app-background-color: #eeeeee;
  --app-logo-background: url(images/Logo_transparent.png) no-repeat top left;
  --app-logo-width: 256px;
  --app-logo-height: 64px;
  --app-logo-background-size: 120px auto;

  --app-logo-background-white: url(images/logo-white.png) no-repeat top left;
  --app-logo-width-white: 140px;
  --app-logo-height-white: 64px;

  --happi-graph-font-family: var(--custom-font-family);
  --happi-graph-primary-color-rgb: var(--egeria-primary-color-rgb);
  --happi-graph-primary-color: rgb(var(--happi-graph-primary-color-rgb));
  --happi-graph-secondary-color: var(--egeria-secondary-color);
  --happi-graph-gray-color: #AFAFAF;
}

body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--app-background-color);
  color: var(--egeria-secondary-color);
}

iron-overlay-backdrop {
  --iron-overlay-backdrop-background-color: #24272a;
  --iron-overlay-backdrop-opacity: 0.2;
}