// .home {
//   margin-top:50px;

//   .content {
//     margin:0 auto;
//     width:70%;
//     text-align:center;
//     margin-bottom:50px;

//     .menu ul {
//       list-style-type: none;
//       margin: 0;
//       padding: 0;
//       overflow: hidden;
//       background-color: var(--egeria-primary-color);
//     }

//     .menu li {
//       float: left;
//     }

//     .menu li.pull-right {
//       float:right;
//     }

//     .menu li a {
//       display: block;
//       color: #ffffff;
//       text-align: center;
//       padding: 16px;
//       text-decoration: none;
//     }

//     .header {
//       background: var(--egeria-home-header-background);
//       height: 380px;

//       h1 {
//         margin-left:48px;
//         padding-top:82px !important;
//         line-height: 48px;
//         font-weight: bold;
//         white-space: nowrap;
//       }

//       h1 span {
//         color:#ffffff;
//         display: block;
//         background-color: var(--egeria-primary-color);
//         width: max-content;
//         border-radius: 8px;
//         padding: 3px 16px;
//         margin: 8px 0px;
//       }

//       h1 span.title__part-1 {
//         margin-left: 24px;
//       }
//       h1 span.title__part-2 {
//         margin-left: 48px;
//       }
//     }


//     .description {
//       background: var(--app-background-color);
//     }

//     .description-0 {
//       margin-right:20px;
//     }

//     .description-2 {
//       margin-left:20px;
//     }

//     .footer {
//       img {
//         height:50px;
//         margin-left:25px;
//       }
//     }
//   }
// }